<div *ngIf="card != null" class="flip-card" [ngStyle]="{'z-index': getZIndex()}">
    <div class="flip-card-inner" [@cardFlip]="card.state" [@cardDiscard]="card.state">
        <div class="flip-card-front">
            <img width="163" src="../assets/images/card_back.png" alt="Back of card">
        </div>
        <div class="flip-card-back">
            <img width="163" [src]="card.image" alt="Front of card">
        </div>
    </div>
</div>

<!-- <div *ngFor="let card of cards">
    <img width="163" src="{{card.imagePath}}" alt="Image goes here">
</div> -->

<!-- [ngClass]="{'hidden' : card.isPrevious}" [ngClass]="{'shown' : !card.isPrevious}" -->
<!-- [ngStyle]="{'z-level': card.zIndex}" -->