.background {
    /* height: 650px;   */
    background: no-repeat center center fixed;
    background-image: url('../../assets/images/bgnew.jpg');  
    background-size: cover;  
    background-repeat: no-repeat;
    /* background-size: cover; */
    overflow-x: hidden;
    height: 670px;
    z-index: -1000;
}  