.background {
    /* height: 650px;   */
    background-image: url('../../assets/images/table.png');  
    background-size: contain;  
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 1100px;
    z-index: -1000;
}  