div{
    position: absolute;
    top: 40%; margin-top: 0%;
    left: 20%; margin-left: 0%;
    z-index: 1;
    transform: rotateZ(90deg);   
}

.discard{
    position:relative;
    top: 65%;
    left: 25%;
    z-index: 1;
    
}