div{
    position: absolute;
    top: 57.5%; margin-top: 0%;
    right: 20%; margin-right: 0%;
    /* bottom: 36%; margin-bottom: 0%;
    right: 20%; margin-right: 0%; */
    z-index: 1;
    transform: rotateZ(-90deg);   
}